# Thanks to https://github.com/TWiStErRob/net.twisterrob.gradle/blob/main/.gitignore
# Gradle
.gradle/
# rootProject, modules|buildSrc, submodules|gradle/plugins, contracts
/build/
/*/build/
/*/*/build/
/*/*/*/build/
/gradled.bat
# Kotlin
.kotlin/